div {
  border: 5px dotted purple;
}

span {
  border: 5px dotted orange;
}
.wrapper {
  /* position: relative; */
}
.first-paragraph {
  border: 1px solid green;
  position: absolute;
  top: 20px;
  left: 20px;
}
